* { margin: 0; padding: 0; }
body { 
    background: rgba(239, 239, 239);     
    overflow-x: hidden;
    overflow-y: scroll;
}

.navibar {
    width: 250px;
    height: 100%;
    background-color: rgba(50, 95, 134, 0.9);
    box-shadow: 0px 0px 5px 0px;
    position: fixed; 
    overflow-y: hidden;   
}

.date {
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 100px;    
    overflow-y: hidden;
}

.time {
    font-size: 50px;
    text-align: center;
    color: white;
    overflow-y: hidden;
}

a {     
    font-weight: bold;
    text-decoration: none; 
    color: black;    
    overflow-y: hidden;
}a:hover { color: rgba(237, 152, 7); }
.icon {
    width: 50px;
    margin-top: 10%;
    margin-left: 40%;
    overflow-y: hidden;
}.icon_p { 
    text-align: center; 
    font-size: 20px;
    overflow-y: hidden;
}
.text {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    overflow-y: hidden; 
}

.logo {
    margin-left: 250px;
    width: 100%;
    height: 70px;
    background-color: rgb(231, 230, 230);    
    overflow-y: hidden;
}.logo img { height: 70px; }

.information {
    display: inline-block;
    height: 82px;
    color: rgb(61, 59, 59);
    font-size: 18px;
    vertical-align: middle;
    margin-left: 100px;
    overflow-y: hidden;
}

/* 햄버거 메뉴*/
#icon { display: none; }
#icon label { display: none; }
#header { display: none; } 

/* 날씨 */
.now {
    text-align: center;
    margin-top: 80px;
    overflow-y: hidden;
}
.todayImg { width: 130px; }
.todayWeather {
    color: white;
    font-size: 20px;
}

.container { 
    margin-top: 30px; 
    overflow-y: hidden;
}
.container h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    overflow-y: hidden; 
}
.container hr {
    width: 40%;
    margin: 0 auto;     
}

.map_wrap { overflow-y: hidden; }
#map { 
    width: 23%;
    height:350px;
    border: 1px solid rgb(185, 181, 173);
    margin: 0 auto;         
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-y: hidden;
}

#address {
    text-align: center;
    margin-bottom: 50px;
} span:nth-child(1) {
    color:#0c82e9;
    font-weight: bold;
} span:nth-child(2) { color: #555; }

#patent {
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#webTable {
    width: 40%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 30px;
}#webTable th { 
    background-color: rgba(237, 152, 7, 0.6);
    padding: 15px 3px;     
    overflow-y: hidden;
}
#webTable td { 
    padding: 12px 10px; 
    overflow-y: hidden;
}

#mobTable { display: none; }
tbody th { background-color: #eef1f3;}

#file, #file th, #file td, #file ul, #file li { overflow-y: hidden;}
#file { 
    width: 40%;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 50px;
}#file th {
    width: 20%;
    border-top: 1px solid #c7c6c6;
    border-bottom: 1px solid #c7c6c6;
    padding: 15px 10px;
    background: #e0e0e0;
}#file td {
    border-top: 1px solid #c7c6c6;
    border-bottom: 1px solid #c7c6c6;
    padding: 12px 10px 12px 50px;    
}#file a { 
    font-weight: lighter;
}#file a:hover { 
    color: rgb(0, 80, 253);
    text-decoration: underline; 
}td li img { 
    vertical-align: middle;
    overflow-y: hidden;
}
@media all and (min-width:1024px) and (max-width: 1980px) {
    /* 노트북 & PC CSS */ 
    body { overflow-y: scroll;}
    .navibar {
        width: 200px;
        height: 100%;
    }

    .date {
        font-size: 30px;
        margin-top: 35px;
    }
    
    .time {
        margin-top: -5px;
        margin-bottom: 20px;
        font-size: 40px;
    }

    .icon {
        width: 40px;
        margin-top: 3%;
        margin-left: 80px;
    }.icon_p { 
        text-align: center; 
        font-size: 14px;
        font-weight: bold;
    }    
    .text {
        text-align: center;
        font-size: 25px;
        margin-top: 10px;
    }
    
    .logo {
        margin-left: 0px;
        width: 100%;
        height: 60px;    
    }.logo img {
        height: 60px; 
        margin-left: 200px; 
    }
    
    .information {
        height: 70px;
        font-size: 15px;
    }
    
    /* 날씨 */
    .now {
        text-align: center;
        margin-top: -15px;
    }
    #todayImg { width: 100px; }
    .todayWeather {
        color: white;
        font-size: 15px;
        font-weight: bold;
    }

    .container { margin-left: 200px; }

    #map {
        width: 50%;
        height: 330px;
    }

    #patent {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #webTable, #file { width: 90%; }
    #webTable th { 
        width: 40px; 
        padding: 15px 5px;
    }
    #webTable td { padding: 5px 15px; }
    .tdWidth { width: 40%; }

    #mobTable { display: none; }
} 

@media screen and (min-width:768px) and (max-width: 1200px) {

	/* 테블릿 CSS */ 
    body { overflow-y: scroll; }
    .navibar {
        width: 180px;
        height: 100%;
        box-shadow: 0px 0px 5px 0px;
        position: fixed;     
    }

    .date {
        margin-top: 30px;
        font-size: 30px;
    }

    .time {
        font-size: 40px;
        margin-bottom: 8px;
    }

    .text {
        text-align: center;
        font-size: 30px;
        margin-top: 30px;
    }

    .icon {
        width: 47px;
        margin-top: 8%;
        margin-left: 40%;        
    }.icon_p { 
        font-size: 15px;
        margin-left: 5%; 
    }

     /* 날씨 */
    .now { margin-top: 0px; }
    #todayImg { width: 100px; }
    .todayWeather {
        color: white;
        font-size: 15px;
    }

    .logo {
        width: 100%;
        height: 60px;
        background-color: rgb(231, 230, 230);
        margin-left: 0px;
    }.logo img { 
        height: 60px;
        margin-left: 180px; 
    }

    .information { font-size: 16px; }

    li img { width: 31px; }

    .container { 
        margin-top: 20px; 
    }
    .container h3 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    #map {
        width: 38%;
        height: 230px;
        margin-top: 15px;  
    }

    #patent { width: 53%; }

    #webTable { width: 53%; }
    #webTable th { padding: 5px 5px; }
    #webTable td { padding: 5px 10px; }
    .tdWidth { width: 40%; }

    #file { width: 53% }
}

@media screen and (max-width:640px) {
    /* 모바일 CSS */
    body { overflow-y: scroll; }

    .navibar { display: none; }

    .logo {
        height: 60px;
        top: 0;
        margin-left: 0px;
        position: fixed; 
        z-index: 3;
        overflow-y: hidden; 
    }.logo img { height: 60px; }

    .information { display: none; }

    /* 햄버거 메뉴 */
    #header li { list-style: none; }
    .information_m { 
        color: black; 
        margin-top: 15px;
        margin-bottom: 4px;
    }
    input[id="icon"] { display:none; } 
    input[id="icon"] + label{
        position: relative;
        display: block;
        width: 27px;
        height: 20px;
        cursor: pointer;  /* 커서를 올려놓을 때 모양이 바뀐다. */
        margin-top: 20px;
        margin-right: 10px;
        float: right;
    } 
    input[id="icon"] + label > span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        border-radius:30px;
        background:rgb(43, 43, 43);
        transition: all 0.35s;  /* 진행되는 과정들을 천천히 보여줄 수 있다. 0.35초 동안 진행됨 */
        z-index:2;
    }
    input[id="icon"] + label > span:nth-child(1) { top:0px; }
    input[id="icon"] + label > span:nth-child(2) {
        top:50%;
        transform: translateY(-50%);  /* 엘리먼트를 변형할 때 쓴다. 비틀거나 구부리거나 돌릴 때 . 여러가지로 모양을 바꿀 때 */
    }
    input[id="icon"] + label > span:nth-child(3) { bottom:0px; }
    input[id="icon"]:checked + label > span:nth-child(1) {
        top:50%;
        transform:translateY(-50%) rotate(45deg);
    }
    input[id="icon"]:checked + label > span:nth-child(2) { opacity: 0; }
    input[id="icon"]:checked + label > span:nth-child(3) {
        bottom:50%;
        transform:translateY(50%) rotate(-45deg);
    }
    
    #icon + label + #header {
        display: block;
        position: fixed;  /* 스크롤을 내리더라도 같은 위치에서 붙어다닌다. */
        width: 300px;
        height: 100%;
        background:rgb(231, 230, 230);
        top: 0px;
        padding: 60px 25px 25px 25px;
        box-sizing: border-box;
        right: -300px;
        z-index: 1;
        transition: all 0.35s;
    }
    #icon:checked + label + #header { right :0px; } 
    #icon:checked + label + #header > ul > li > a { color: white; }


    .container { margin-top: 40px; }
    .container h3 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .container hr {
        width: 95%;
        margin: 0 auto;
    }

    #map {
        width: 95%;
        height: 250px;
        border: 1px solid rgb(185, 181, 173);
        margin-top: 30px;
    }

    #patent {
        display: block;
        width: 95%;
    }

    #webTable { display: none; }
    #mobTable {
        display: block;
        width: 95%;
        border-collapse: collapse;
        margin: 0 auto;
        margin-bottom: 50px;
        overflow-y: hidden;
    }#mobTable th { 
        background-color: rgba(237, 152, 7, 0.6);
        font-size: 12px; 
        padding: 5px 10px;
        overflow-y: hidden;
    }#mobTable td { 
        font-size: 13px; 
        padding: 5px 10px;
        overflow-y: hidden;
    }

    #file { 
        width: 95%; 
        font-size: 13px;    
    }#file td {
        padding: 15px;
    }#file th { 
        width: 10%;    
        background: rgb(230, 230, 230); 
        padding: 20px;
    }
} 